:root {
	--beige: #C0A878;
	--brown: #904818;
	--blue: #3060A8;
	--gray: #D1E0EC;
	--yellow: #DAC8B1;
}

html, body {
	margin: 0;
}

html {
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#menu-icon {
	z-index: 200;
	position: fixed;
	top: 15px;
	left: 15px;
	cursor: pointer;
	outline: none;
	height: 12px;
	width: 15px;
}

#menu-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
}

#menu-icon span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
}

#menu-icon span:nth-child(2) {
	top: 5px;
	transform-origin: left center;
}

#menu-icon span:nth-child(3) {
	top: 10px;
	transform-origin: left center;
}

#menu-icon.menu-opened span:nth-child(1) {
	transform: rotate(45deg);
}

#menu-icon.menu-opened span:nth-child(2) {
	display: none;
}

#menu-icon.menu-opened span:nth-child(3) {
	transform: rotate(-45deg);
}

#menu-icon.menu-opened span {
	background: white;
}

#menu {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;

	visibility: hidden;
	opacity: 0;

	transition: visibility 1s,opacity 1s ease;
}

#menu .menu-content {
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

ul {
	list-style: none;	
	padding: 0;
}

ul a {
	color: black;
}

.menu-content ul li {
	margin: 25px;
}

.menu-content ul li a {
	color: white;
	font-size: 26px;
}

.content {
	height: 100%;
	overflow: auto;
}

#menu.menu-opened {
	visibility: visible;
	opacity: 1;
}

#landing {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	position: relative;
}

#landing ul li {
	margin: 20px;
	text-align: center;
}

#landing ul {
	display: flex;
	justify-content: center;
}

.job-link {
	font-weight: 900;
	font-size: calc(1rem + 0.2vw);
}

#landing address {
	font-family: monospace;
	font-size: 0.8rem;
	font-style: normal;
}

#landing hr {
	display: block;
	border-width: 1px;
	width: 100px;
}

#landing h1 {
	font-size: calc(2rem + 1.5vw);
	margin-bottom: 0;
}

.tel {
	font-size: 0.8rem;
	margin-bottom: 25px;
	font-family: monospace, sans-serif;
	color: black;
}

#akkupunktur, #kine {
	min-height: 100vh;
	font-family: 'Raleway', sans-serif;
	padding-left: 15vw;
	padding-right: 15vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#akkupunktur h1, #kine h1 {
	text-align: center;
	font-size: calc(1.8rem + 1.1vw);
	padding-bottom: 50px;
	font-weight: 900;
}

#akkupunktur h2, #kine h2 {
	text-align:center;
	font-size: calc(1.3rem + 0.8vw);
	font-weight: 900;
}

#akkupunktur p, #kine p {
	font-weight: 300;
	font-size: 16px;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	text-align: justify;
}

#akkupunktur ul {
	font-size: 16px;
	font-weight: 300;
}

#akkupunktur_icon, #kine_icon {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#akkupunktur h3, #kine h3 {
	text-align:center;
	font-size: calc(0.9rem + 0.3vw);
	font-weight: 900;
}

.items {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.items > .item {
	margin: 15px;
}

#akkupunktur_icon img, #kine_icon img {
	max-width: 25vh;
}

#akkupunktur_icon {
	background-color: var(--yellow);
	background-color: #DAC8B1;
}

#kine_icon {
	background-color: var(--gray);
	background-color: #D1E0EC;
}

@supports (-webkit-touch-callout: none) {
	#akkupunktur_icon, #kine_icon, #landing {
		min-height: -webkit-fill-available;
	}	
}

#icon-scroll, #icon-scroll:before {
	position: absolute;
	left: 50%;

	opacity: 1;
	transition: opacity 500ms ease-in-out;
}

#icon-scroll {
	width: 27px;
	height: 55px;
	margin-left: 0px;
	bottom: 2vh;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px black;
	border-radius: 25px;
}

#icon-scroll:before {
	content: '';
	width: 16px;
	height: 16px;
	background: black;
	margin-left: -8px;
	top: 8px;
	border-radius: 10px;
	-webkit-animation-duration: 3.5s;
	animation-duration: 3.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
}

@-webkit-keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(25px);
		transform: translateY(25px);
	}
}

