html, body {
	margin: 0;
	padding: 0;
}

:root {
	--beige: #C0A878;
	--brown: #904818;
	--blue: #3060A8;
	--gray: #D1E0EC;
	--yellow: #DAC8B1;
}

.main, .akkupunktur {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.akkupunktur {
	background-color: var(--beige);
}

.main h1 {
	font-size: 3vw;
	margin-bottom: 25px;
}

.jobs { 
	margin-top: 10px;
}

.jobs ul {
	list-style: none;
	padding: 0;
}

.jobs ul li {
	display: inline;
	padding: 25px;
}

.jobs ul li a {
	color: black;
	text-decoration: none;
	font-size: 0.9vw;
}

.jobs ul li a:hover {
	text-decoration: underline;
}

hr {
	border: 2px solid black;
	width: 10%;
}

#burgericon {
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 100;
}

#mymenu {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100vw;
	min-height: 100vh;
	background-color: black;
}

.myactive {
	visibility: hidden;
}

.menucontent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.menucontent ul {
	list-style: none;
}

.menucontent ul li {
	margin: 25px;
	text-align: center;
}

.menucontent ul li a {
	color: white;
	text-decoration: none;
	font-size: 40px;
}

.menucontent ul li a:hover {
	text-decoration: underline;
}
